<div>

  <p style="font-weight: 500;
font-size: 16px;font-weight:bold;">Dear {{name}}
    ,</p>

  <p style="font-weight: 500;
        font-size: 16px;color: #6F7782;">Thank you for signing up for Nest boilerplate !
    In order to complete the
    registration process and activate your account.
  </p>

  <p style="font-weight: 500;
        font-size: 16px;color: #6F7782;">We need to verify that the email address you
    provided belongs to you.
  </p>

  <p style="font-weight: 500;
        font-size: 16px;color: #6F7782;"> Please click the link below to confirm
    your email address:
  </p>

  <a href="{{url}}" style="
            background: #F18925;
            border-radius: 3px;padding:8px;font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;text-decoration: none !important;">Verify
  </a>

  <p style="font-weight: normal;
            font-size: 14px;color: #6F7782;    margin-top: 28px;">
    Thank you for your cooperation.
  </p>

  <p  style="font-weight: normal;
            font-size: 14px;color: #6F7782;    margin-top: 28px;">
    Regards,<br>
    <span>Nest BoilerPlate !!!</span>
  </p>

</div>