<div>

    <p style="font-weight: 500;
font-size: 16px;font-weight:bold;">Dear {{name}},</p>

    <p style="font-weight: 500;
        font-size: 16px;color: #6F7782;">As an administrator of Next BoilerPlate,
        I have created an account for you.
    </p>

    <p style="font-weight: 500;
        font-size: 16px;color: #6F7782;">Your login credentials are as follows:
    </p>

    <p style="font-weight: 500;
        font-size: 16px;color: #6F7782;"> Please use the following link to reset your password:
    </p>


    <a href="{{url}}" style="
            background: #F18925;
            border-radius: 3px;padding:8px;font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;text-decoration: none !important;">Reset Password</a>
    <p style="font-weight: normal;
            font-size: 14px;color: #6F7782;    margin-top: 28px;">
        Thank you for your cooperation.
    </p>

    <p style="font-weight: normal;
            font-size: 14px;color: #6F7782;  margin-top: 28px;">
        Regards,<br>
        <span>Nest BoilerPlate !!!</span>
    </p>
</div>